HELP.md
target/

!**/src/main/**/target/
!**/src/test/**/target/
*/*/locker/.env/
/.env/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.env
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.git
.gradle
build
target
node_modules
*.iml
*.log
.DS_Store

### VS Code ###
.vscode/
